<header>
    <div class="container-grid cabecalho">
        <a href="#"><img src="../../../assets/img/logo.svg" alt="logo do site E-Players"></a>
        <nav id="menu" class="menu">
            <a routerLink="/">Início</a>
            <a routerLink="">Horários</a>
            <a routerLink="/">Cadastro</a>
            <a routerLink="">Resultados</a>
            <a routerLink="">Notícias</a>
        </nav>
        <a href="#" id="barras"><img class="icone-menu" src="../../../assets/img/bars.svg"
                alt="icone do menu de barras"></a>
    </div>
</header>